.pws-value {
	color: red;
}
.unit {
    font-size: smaller;
}
#clock-table {
	width: 100%;
}
#clock-table-time-row {
	text-align: center;
	width: 50%;
}
#clock-table-date-row {

	text-align: center;
	width: 50%;
	text-transform: uppercase;
}
#clock-table-date {
	font-size: 24pt;
}
#clock-table-wdate {
	font-size: 18pt;
}
.weather-outside-value {
	font-size: 20pt;
}
.weather-forecast-temp td {
    padding-top: 5pt;
    font-size: larger;
    font-weight: bold;
}

.timetable td {
    font-size: 15pt;
}

.nagel-clima {
    font-size: 25pt;
}
